body {
    background-color:darkslategray;
    color: whitesmoke;
    
}

table {color:black}


td {
    border: solid cornflowerblue;
    
}


h1, h2, h3 {
    color: whitesmoke;
}


a {
    color: whitesmoke;
}