body {
    background-color: red;
    font-family: Arial, sans-serif;
    color: blue;
}

header {
    background-color: yellow;
    padding: 12px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}

section {
    background-color: yellow;
    padding: 12px;
    margin: 20px;
    border-radius: 15px;
}

a {
    color: blue;
}
